
body{
    display: flex;
    height:100vh;
    margin:0;
    padding: 0;
}

#side-thingy{
    background-color: azure;
    width:300px;

}

#main {
    background-color: blanchedalmond;
    width: calc(100% - 300px);
}
